@charset "utf-8";
/* common */
*,::before,::after {box-sizing:border-box;}
html {font-size:10px;}
body {width:100%; height:100%;font-family:"맑은 고딕", Malgun Gothic, Arial, sans-serif; font-size:1.2rem; color:#333; letter-spacing:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,address,menu{margin:0;padding:0; line-height:1.2;}
table{border:0;border-collapse:collapse;border-spacing:0; font-size:1.2rem; table-layout:fixed;}
fieldset,img{border:0;vertical-align:top;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
strong {font-weight:bold;}
li{list-style:none;}
input,textarea,select{font-family:"맑은 고딕", Malgun Gothic, Arial, sans-serif; vertical-align:middle; outline-style:none; font-size:1.2rem; letter-spacing:0;}
header, section, article,aside, nav, footer{display:block;}
hr,caption,legend {display:none;}

/* input-type */
input[type*="text"],
input[type*="number"],
input[type*="password"] {width:100%; height:3.5rem; line-height:2.9rem; padding:0.1rem 1rem 0.2rem 1rem; color:#333; border:0.1rem solid #b7b7b7; font-size:1.4rem;}
input[type*="text"]:focus,
input[type*="number"]:focus,
input[type*="password"]:focus {border-color:#166c9f;}
input[type*="text"]:disabled,
input[type*="number"]:disabled,
input[type*="password"]:disabled {background:#f1f1f1; color:#333;}

input[type*="text"]:-webkit-input-placeholder,
input[type*="number"]:-webkit-input-placeholder,
input[type*="password"]:-webkit-input-placeholder {color:#b6b6b6; padding:0 0.3rem;}

input[type*="button"] {cursor:pointer; border:0;}
input[type*="checkbox"] {position:relative; width:1.6rem; height:1.6rem; cursor:pointer; margin:-0.2rem 0.3rem 0 0;}
input[type*="checkbox"]:after {content:""; border:0.1rem solid #b7b7b7; width:1.6rem; height:1.6rem; background:#fff; border-radius:0.2rem; color:#333; position:absolute; top:0; left:0; box-sizing:border-box;}
input[type*="checkbox"]:checked:after {border:0.1rem solid #87b2f2; background:#87b2f2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAICAYAAAAvOAWIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHdJREFUeNpi+P//PwMRuB2I3xCrEARmElJYAVW4FIiZQQLHgTgdi8JSqMLVIIUgMZDgLqhgApLCTKjYJiBmg4mDCC4g3gfEf4E4GoiToQp3ISuEKQZhXiA+CdXwF6qZC91pjGAdEMAPxDuB+B8QuwDxNwY0ABBgAIrnATuU05peAAAAAElFTkSuQmCC) no-repeat center center;}

input[type*="radio"] {cursor:pointer; height:1.2rem; margin-top:-0.2rem;}
textarea {box-sizing:border-box; width:100%; padding:1rem; border:0.1rem solid #b7b7b7; overflow:auto; line-height:1.5; resize:none; color:#333;}
textarea:focus {border-color:#166c9f;}
textarea:disabled {background:#f1f1f1; color:#b6b6b6;}

select {height:3.5rem; line-height:3rem; padding:0.1rem 2.9rem 0.2rem 1rem; color:#333; border:0.1rem solid #b7b7b7; width:100%; background:#fff url("../img/select_arr.png") no-repeat right center; -webkit-appearance:none;-webkit-padding-start:0.4rem; font-size:1.4rem;}
select:focus {border-color:#166c9f;}
select[disabled] {background:#f1f1f1 url("../img/select_arr.png") no-repeat right center; color:#333;}
select[multiple] {background:none; padding:0;}

iframe {width:100%; height:100%; border:0;}

/* basic-alink */
a {text-decoration:none;color:#333; outline:none;}
a:link {color:#333;text-decoration:none;}
a:visited {color:#333;text-decoration:none;}
a:active {color:#333;text-decoration:none;}
a:hover {color:#333;text-decoration:none;}

:focus {outline:none;}

.tal {text-align:left !important;}
.tac {text-align:center !important;}
.tar {text-align:right !important;}

.vat {vertical-align:top !important;}
.vam {vertical-align:middle !important;}
.vab {vertical-align:bottom !important;}

.essential {color:#cc0000; font-weight:bold; font-size:1.4rem;}





@media only screen and (max-width: 360px) {
	body {background:red;}
}
@media only screen and (min-width: 361px) {
	body {background:blue;}
}
@media only screen and (min-width: 769px) {
	body {background:green;}
}
@media only screen and (min-width: 1025px) {
	body {background:black;}
}









